{
  "printWidth": 160,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.html", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
