@charset "UTF-8";

:root {
  --base-margin: 16px;
  --base-font-size: 16px;
  --smaller-font-size: 14px;
  --white: #fff;
  --gray-lightest: #fafafa;
  --gray-lighter: #ccc;
  --gray-light: #666;
  --gray: #333;
  --black-light: #212121;
  --black: #000;
  --transparent: rgb(0 0 0 / 0%);
}

body {
  min-width: 375px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--gray);
  background-color: var(--gray-lightest);
}

main {
  margin: 0 24px;
  overflow-x: hidden; /* HACK: prevent from layout shifting if mobile size as fallback style */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: var(--base-margin) 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4,
h5,
h6 {
  font-size: 18px;
}

p {
  padding: 0;
  margin: var(--base-margin) 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul > li,
ol > li {
  padding: 4px 0;
  margin: 0 0 0 var(--base-margin);
}

ul > li {
  list-style-type: circle;
}

ol > li {
  list-style-type: decimal;
}

dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: var(--base-margin) 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: var(--base-margin);
}

article {
  padding: 0 var(--base-margin);
  margin: var(--base-margin) 0;
  border: 2px dashed var(--gray-light);
  border-radius: 8px;
}

a {
  color: var(--gray);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--gray-lighter);
}

q {
  display: block;
  margin: var(--base-margin) 0;
  color: var(--gray-light);
}

q::before {
  display: inline-block;
  margin-right: 4px;
  content: ">";
}

code {
  padding: 2px 0;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  max-width: 1200px;
  padding: 0;
  margin: 24px 0;
  overflow: auto hidden;
}

figcaption {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: var(--smaller-font-size);
  color: var(--gray-light);
}

table {
  min-width: 375px;
  margin: var(--base-margin) 0;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--gray);
}

table > caption {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

table > thead > tr > th {
  background-color: var(--gray-lighter);
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: 8px;
  border: 1px solid var(--gray-light);
}

input[type="range"] {
  cursor: ew-resize;
  user-select: none;
  -webkit-touch-callout: none;
}

.copy-to-clipboard-button {
  cursor: pointer;
}

.app-container {
  overflow-x: auto;
}

.math-block {
  overflow: auto hidden;
}

.button-oscillator {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.form-oscillator-type {
  display: flex;
  gap: 16px;
  margin: 8px 0;
}

.form-oscillator-type > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-oscillator-type > label > input[type="radio"] {
  cursor: pointer;
}

.ranges-oscillator {
  display: flex;
  gap: 12px;
}

.ranges-oscillator > label {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.button-envelopegenerator {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.ranges-envelopegenerator {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.ranges-envelopegenerator > label {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: ew-resize;
}

.ranges-envelopegenerator > label > input[type="range"] {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: ew-resize;
}

.forms-fourier-series {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0;
}

.forms-fourier-series label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button[type="button"] {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

select {
  padding: 8px 12px;
  font-size: 16px;
  color: var(--gray);
  appearance: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--gray-lighter);
  -webkit-touch-callout: none;
}

.forms-fourier-series select {
  padding: 8px 12px;
  cursor: pointer;
}

#output-sum-box-fourier-series {
  min-width: 72px;
}

:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

.app-vibrato {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 24px 0;
}

.app-chorus,
.app-flanger,
.app-phaser {
  margin: 24px 0;
}

.app-chorus dl dd,
.app-flanger dl dd,
.app-phaser dl dd {
  display: flex;
  gap: 8px;
  align-items: center;
}

span[id*="print-"] {
  display: inline-block;
  min-width: 88px;
}
