@charset "UTF-8";

:root {
  --base-margin: 16px;
  --base-font-size: 16px;
  --smaller-font-size: 14px;
  --white: #fff;
  --gray-lightest: #fafafa;
  --gray-lighter: #ccc;
  --gray-light: #666;
  --gray: #333;
  --black-light: #212121;
  --black: #000;
  --transparent: rgb(0 0 0 / 0%);
}

body {
  min-width: 375px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--gray);
  background-color: var(--gray-lightest);
}

header {
  display: flex;
  justify-content: center;
  padding: var(--base-margin) 0;
  margin-bottom: var(--base-margin);
  border-bottom: 1px solid var(--gray-lighter);
}

main {
  margin: 0 24px;
  overflow-x: hidden; /* HACK: prevent from layout shifting if mobile size as fallback style */
}

footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  padding: 32px 0;
  margin-top: 32px;
  font-size: var(--smaller-font-size);
  border-top: 1px solid var(--gray-lighter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: var(--base-margin) 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4,
h5,
h6 {
  font-size: 18px;
}

p {
  padding: 0;
  margin: var(--base-margin) 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul > li,
ol > li {
  padding: 4px 0;
}

ul > li {
  margin: 0 0 0 var(--base-margin);
  list-style-type: circle;
}

ol > li {
  margin: 0 0 0 24px;
  list-style-type: decimal;
}

dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: var(--base-margin) 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: var(--base-margin);
}

article {
  padding: 0 var(--base-margin);
  margin: var(--base-margin) 0;
  border: 2px dashed var(--gray-light);
  border-radius: 8px;
}

a {
  color: var(--gray);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--gray-lighter);
}

q {
  display: block;
  margin: var(--base-margin) 0;
  color: var(--gray-light);
}

q::before {
  display: inline-block;
  margin-right: 4px;
  content: ">";
}

code {
  padding: 2px 0;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  max-width: 1200px;
  padding: 0;
  margin: 24px 0;
  overflow: auto hidden;
}

figcaption {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: var(--smaller-font-size);
  color: var(--gray-light);
}

table {
  min-width: 375px;
  margin: var(--base-margin) 0;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--gray);
}

table > caption {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

table > thead > tr > th {
  background-color: var(--gray-lighter);
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: 8px;
  border: 1px solid var(--gray-light);
}

input[type="range"] {
  cursor: ew-resize;
  user-select: none;
  -webkit-touch-callout: none;
}

input[type="checkbox"] {
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

input[type="file"] {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.copy-to-clipboard-button {
  cursor: pointer;
}

.auto-table {
  min-width: min-content;
  table-layout: auto;
}

.nowrap-table th:first-of-type {
  white-space: nowrap;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.app-container {
  overflow-x: auto;
}

.app-headline {
  display: flex;
  gap: 12px;
  align-items: center;
}

.math-block {
  overflow: auto hidden;
}

.button-oscillator {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.form-oscillator-type {
  display: flex;
  gap: 16px;
  margin: 8px 0;
}

.form-oscillator-type > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-oscillator-type > label > input[type="radio"] {
  cursor: pointer;
}

.ranges-oscillator {
  display: flex;
  gap: 12px;
}

.ranges-oscillator > label {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.button-envelopegenerator {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.ranges-envelopegenerator {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.ranges-envelopegenerator > label {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: ew-resize;
}

.ranges-envelopegenerator > label > input[type="range"] {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: ew-resize;
}

.forms-fourier-series {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0;
}

.forms-fourier-series label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app-headline > label {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

button[type="button"] {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.piano {
  position: relative;
  z-index: 1;
  width: calc(23px * 52);
  height: 160px;
}

.white-keyboards {
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(52, 23px);
  padding: 0;
  margin: 0;
}

.black-keyboards {
  position: absolute;
  top: 0;
  left: 17.5px;
  z-index: 3;
  display: grid;
  grid-template-rows: 95px;
  grid-template-columns: repeat(50, 11px);
  column-gap: 12px;
  padding: 0;
  margin: 0;
}

.white-keyboards > li,
.black-keyboards > li {
  width: 100%;
  height: 100%;
  margin: 0;
  list-style: none;
}

.black-keyboards > li.hidden {
  visibility: hidden;
}

.white-keyboards > li > button[type="button"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  user-select: none;
  background-color: var(--white);
  background-image: none;
  border: 2px outset var(--gray-lightest);
  transition: background-color ease 0.6s;
  -webkit-touch-callout: none;
}

.black-keyboards > li > button[type="button"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  user-select: none;
  background-color: var(--black);
  background-image: none;
  border: 2px inset #111;
  transition: background-color ease 0.6s;
  -webkit-touch-callout: none;
}

.white-keyboards > li > button[type="button"]:hover,
.white-keyboards > li > button[type="button"].pressed {
  background-color: #eee;
}

.black-keyboards > li > button[type="button"]:hover,
.black-keyboards > li > button[type="button"].pressed {
  background-color: var(--gray-light);
}

select {
  padding: 8px 12px;
  font-size: 16px;
  color: var(--gray);
  appearance: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--gray-lighter);
  -webkit-touch-callout: none;
}

.forms-fourier-series select {
  padding: 8px 12px;
  cursor: pointer;
}

#output-sum-box-fourier-series {
  min-width: 72px;
}

:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

.app-vibrato {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 24px 0;
}

.app-chorus,
.app-flanger,
.app-phaser,
.app-tremolo,
.app-ringmodulator,
.app-3-bands-equalizer,
.app-graphic-equalizer,
.app-pedal-wah,
.app-vcf-auto-wah,
.app-auto-wah,
.app-auto-panner,
.app-glide,
.app-noise-suppressor,
.app-pitch-shifter,
.app-vocal-canceler,
.app-periodic-wave,
.app-output-device-by-sink-id {
  margin: 24px 0;
}

.app-chorus dl dd,
.app-flanger dl dd,
.app-phaser dl dd,
.app-tremolo dl dd,
.app-ringmodulator dl dd,
.app-3-bands-equalizer dl dd,
.app-graphic-equalizer dl dd,
.app-pedal-wah dl dd,
.app-vcf-auto-wah dl dd,
.app-auto-wah dl dd,
.app-amp-simulator-and-effectors-distortion dl dd,
.app-auto-panner dl dd,
.app-glide dl dd,
.app-noise-suppressor dl dd,
.app-pitch-shifter dl dd,
.app-vocal-canceler dl dd,
.app-output-device-by-sink-id dl dd {
  display: flex;
  gap: 8px;
  align-items: center;
}

.app-amp-simulator-and-effectors-distortion dl dd {
  margin: 0;
}

.app-amp-simulator-and-effectors-distortion label {
  cursor: pointer;
}

.app-amp-simulator-and-effectors-distortion select {
  margin: 8px 0;
}

.form-glide-type {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form-glide-type > label {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.form-glide-type > label > input[type="radio"] {
  cursor: pointer;
}

.app-media-stream-audio-destination-node-and-media-recorder {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(1, auto);
  gap: 8px;
  margin: 24px 0;
}

.grid-2x2-layout {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
}

.grid-3x3-layout {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
}

.grid-3x3-layout label {
  display: inline-block;
  min-width: 64px;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  align-items: center;
  width: fit-content;
}

.checkbox-container label {
  display: inline-block;
}

span[id*="print-"] {
  display: inline-block;
  min-width: 88px;
}
